﻿$icon-font-path: "~bootstrap-sass-official/assets/fonts/bootstrap/";
@import '~bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}