﻿@{
    Layout = null;
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebTemplate</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Log out", "LogOut", "Account")</li>
                }
                else
                {
                    <li><a ui-sref="home.auth.login">Login</a></li>
                    <li><a ui-sref="home.auth.signup">SignUp</a></li>
                }
            </ul>
        </div>
    </div>
</nav>
