﻿@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="" id="loginModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Have an Account?</h3>
                </div>
                <div class="modal-body">
                    <div class="well">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                            <li><a href="#signup" data-toggle="tab">Create Account</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane active in" id="login">
                                @Html.Action("Login", "Account")
                            </div>
                            <div class="tab-pane fade" id="signup">
                                @Html.Action("Register", "User")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>