﻿@model WebTemplate.DTO.LoginModel
@{
    Layout = null;
}

@using(Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(l => l.Email, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(l => l.Email, new { @class = "input-xlarge", type = "email", placeholder = "Email" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(l => l.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(l => l.Password, new { @class = "input-xlarge", placeholder = "Password" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(l => l.RememberMe, new { @class = "control-label" })
            <div class="controls">
                @Html.CheckBoxFor(l => l.RememberMe)
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success">Login</button>
            </div>
        </div>
    </fieldset>
}