﻿@model WebTemplate.DTO.RegisterModel
@{
    Layout = null;
}

@using(Html.BeginForm("Register", "User", FormMethod.Post, new { id = "tab" }))
{
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(r => r.Username, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(l => l.Username, new { @class = "input-xlarge", placeholder = "Username" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(l => l.Email, new {@class = "control-label"})
            <div class="controls">
                @Html.EditorFor(l => l.Email, new {@class = "input-xlarge", type = "email", placeholder = "Email"})
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(l => l.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(l => l.Password, new { @class = "input-xlarge", type = "password", placeholder = "Password" })
            </div>
        </div>


        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary">Create Account</button>
            </div>
        </div>
    </fieldset>
}